body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.main {
  height: 100%;
  padding: 2em;
  margin: 0;
}

.location{
  font-weight: bold;
  font-size: 1.5rem;
}

.weather-img{
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin: 0;
}

.weather-desc{
  color: rgba(0, 0, 0, 0.461);
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  object-fit: contain;
  text-align: center;
  margin: 0;
  padding: 0;
}

.weather-temp{
font-weight: bold;
font-size: 5rem;
text-align: center;

}

.weather-temp sup {
  color: #ffae03;
  font-size: 1.5rem;
}

ul{
  list-style: none;
  line-height: 30px;
  font-weight: bold;
  font-size: 1.2rem;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffae03;
}
.header img {
    width: 30px;
    margin-right: 10px;
}

.header h1{
    font-weight: normal;
}

